Thumb.db
.DS_Store
*.log


/*.php
/*.html
!wp-config.php

/wp-admin
/wp-includes

/wp-content/languages

/wp-content/plugins/admin-bar-position/*
/wp-content/plugins/query-monitor/*
/wp-content/plugins/really-simple-csv-importer/*
/wp-content/plugins/wordpress-seo/*
/wp-content/plugins/wp-multibyte-patch/*
/wp-content/plugins/index.php

/wp-content/themes/twentytwentytwo
/wp-content/themes/waplus/Thumb.db
/wp-content/themes/waplus/.DS_Store
/wp-content/themes/waplus/*.log
/wp-content/themes/waplus/WaPlusCfg/.sass-cache/*

/wp-content/upgrade
/wp-content/uploads
/wp-contentindex.php
