@charset "utf-8";

// 
// ***********************************************
// ★ IT WEB エンジニア経歴、詳細ページ設定
// ***********************************************
.mainContents {
  // 
  // 横揺れ禁止
  .main { width: 100%; }

  // 
  // ＰＣ・モバイル共通定義
  // ***********************************
  #rollingTitlePage {

    .strAttrGold {
      color: #665A1A  !important;
      font-weight: bold !important;
    }

    // 
    // 当該ページセクション高を仮設定しておく
    // 当該ページの実高さは、デバイス画面高に応じて計算し設定している為、
    // 初期ロードの際高さが無いと、フッター部分が最初に表示されてしまう。
    height: 100vh;

    // // 
    // // ***** 20220321
    // // 【Knowledge】＊＊＊＊＊
    // // ※ アニメーションでの注意点！
    // //  「GSAP等」子要素が画面外から画面内に左右から移動してくる場合、
    // //   その親要素について、はみ出た部分に非表示を設定しないと、
    // //   画面を横にスワップすると、画面がグニャグニャと動く。
    // //   特に、モバイル用レスポンシヴ画面にて、ＰＣ画面用要素と共有していると、
    // //   当現象が、モバイル用レスポンシヴ画面にて発生する！
    overflow: hidden;

    // for DEBUG circleO
    // @include style-section;

    // 
    // rect形式画像3枚セットの位置決め用定義
    position: relative;
    top: 0;
    left: 0;

    .rollingTitle {
      @include style-rollingTitle;
    }    

    .uline {
      margin: 5vh 0 8vh 0;
      border-bottom: 1px solid rgba( 3,3,3,0.3 );
      border-bottom: 1px solid rgba(180, 194, 220, 1);
    }

    // 
    // IT WEB エンジニア経歴、メッセージ詳細
    #detailInfo {
      #forExample, #forExample1, #forExample2 {

        // font-size:  1vw !important;   // 1.2vw; 1.5vw
        font-size: $pcDefaultFSize !important;
        line-height: 2em;
        letter-spacing: 1px;
    
        // padding: 10vh 0;
        margin-left: 10vw;

        // 
        // ■付きタイトル「システム開発・保守」等、サブタイトル
        h2 {
          display: inline-block;
          font-size: $pcDefaultSectionSubTitle;
          font-weight: normal;      // bold;
          line-height: 1.5em;
          position: relative;
          // margin-top: 2em;
          margin-bottom: 0.5em;
          overflow: hidden;
          text-decoration: none;      
        }
        h2:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #333;
          content: "";        
        }

        table tr th {
          padding-top: 20px;
          font-size: calc( $pcDefaultSectionSubTitle*0.6 );
        }

        .uline {
          margin: 5vh 0 8vh 0;
          border-bottom: 1px solid rgba( 3,3,3,0.3 );
          border-bottom: 1px solid rgba(180, 194, 220, 1);
        }
  
      }

      // 
      // parallax効果の為の枠（親）原点指定
      // position: relative;    
      // background-color: rgba( 254, 244, 246, 0.5 );   // #FEF4F6
    }
  }

  // 
  // ＰＣ用定義
  // ***********************************
  @include mquery( "pc" ) {
    // // 
    // // 当該ページセクション高を仮設定しておく
    // // 当該ページの実高さは、デバイス画面高に応じて計算し設定している為、
    // // 初期ロードの際高さが無いと、フッター部分が最初に表示されてしまう。
    height: 100vh;
    
    .ITWebEngTopImg  {
      @include style-imageDispPos( "../../../../Images/ITWebSol/api-image.jpg", 65vh, 50vh );            // 30vh
      z-index: 0;
    }
    .ITWebEngTopImg2  {
      @include style-imageDispPos( "../../../../Images/ITWebSol/company_1280-1280.jpg", 65vh, 160vh, 10vw );   // 140vh
      z-index: 0;
    }
    .ITWebEngTopImg3  {
      @include style-imageDispPos( "../../../../Images/ITWebSol/binary-question.jpg", 65vh, 270vh, 14vw );   // 25%
      z-index: 0;
    }

    #forExample, #forExample1, #forExample2 {
      transform: translateX( -40% );
      opacity: 0;
    }

  }

  // 
  // モバイル用定義
  // ***********************************
  @include mquery( "mb" ) {
    // // 
    // // 当該ページセクション高を仮設定しておく
    // // 当該ページの実高さは、デバイス画面高に応じて計算し設定している為、
    // // 初期ロードの際高さが無いと、フッター部分が最初に表示されてしまう。
    height: 138vh;  

    .ITWebEngTopImg  {
      // @include style-imageDispPos( "../../../../Images/ITWebSol/myDeskTop.webp", 50%, 20vh );
      @include style-imageDispPos( "../../../../Images/ITWebSol/api-image.jpg", 65vh, 50vh );          // 65vh 30vh
      z-index: 0;
      // border: 1px solid black;
    }
    .ITWebEngTopImg2  {
      @include style-imageDispPos( "../../../../Images/ITWebSol/company_1280-1280.jpg", 65vh, 160vh );   // 65vh 130vh
      z-index: 0;
      // border: 1px solid black;
    }
    .ITWebEngTopImg3  {
      @include style-imageDispPos( "../../../../Images/ITWebSol/binary-question.jpg", 65vh, 270vh );     // 65vh 260vh
      z-index: 0;
      // border: 1px solid black;
    }

    #forExample, #forExample1, #forExample2 {
      h2 {
        // font-size: 3vw !important;
        font-size: $mbDefaultSectionSubTitle !important;
        margin-top: 0.2em;
      }
      table {
        // font-size: 2.5vw;
        font-size: $mbDefaultFSize;
        line-height: $mbDefaultLineHeight;
        tr > th {
          // font-size: $mbDefaultSectionSubTitle*0.9 !important;
          font-size: $mbDefaultSectionTableTitle !important;

        }
        // li {
          .mbLineHgt {
            line-height: $mbDefaultLineHeight;
          }
        // }  
      }

      transform: translateX( 40% );
      opacity: 0;

      // .strColorGld {
      // .strAttrGold {
      //   color: #665A1A;
      //   font-weight: bold;
      // }
    } 
  }
}

footer {
  .siteFooter {
    #footerNav {
      border: 1px solid #f6f6f6;
      border-radius: 5px;
    }
  }
}
